sudo: required
services: mongodb
env:
  - CXX=g++-5
addons:
  apt:
    sources:
    - ubuntu-toolchain-r-test
    packages:
    - g++-5
language: node_js
node_js:
  - "8"
cache:
  directories:
    - node_modules
before_install:
  - npm install -g node-gyp
