extends layouts/layout
block content
  .container
    h1= title
    p Welcome
    include partials/flash-messages
    a(href='/logout') Logout
  script(src="/socket.io/socket.io.js")
  script(src="/assets/main.js")

